body {
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}

@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

.navbarLN {
    background: #fe0000;
    color: #ffffff;
}
.btnNavbarLN {
    border-color: transparent;
    background-color: #fe0000;
    color: #ffffff;
}
    .btnNavbarLN > .iconNav {
        font-size: 25px;
    }


.navbar-nav > li {
    padding-top: 15px;
    padding-bottom: 15px;
}
    .navbar-nav > li > a {
        color: #FFFFFF;
    }
.navbar-nav > li:hover {
    background: #FFFFFF;
    color: #fe0000;
}
    .navbar-nav > li:hover > a {
        color: #fe0000;
        font-weight:bold;
    }
        .navbar-nav > li:hover > a:hover {
            text-decoration: none;
        }

.card > .bg-ln {
    background-color: #fe0000;
    color: #ffffff;
}